flask
flask_jwt_extended
web3
mock
gevent
gunicorn
flask_sslify
sqlalchemy==1.4.32
flask-login==0.5.0
flask-wtf==1.0.0
alembic==1.7.7
SQLAlchemy-serializer==1.4.1
python-dotenv==0.19.2
psycopg2-binary==2.9.3
Werkzeug==2.0.3
WTForms==3.0.1
config==0.5.1
requests==2.27.1